* {
	font-family: 'Montserrat', sans-serif;
	transition: all .5s ease-in-out;
	
}

body {
	background: linear-gradient(to right, #00274C 50%, #FFCB05 50%);
	
}
.bg-light {
	background-color: transparent !important;

}
.carousel-item {
	height: 100vh;
	min-height: 300px;
	
}
.carousel-caption {
	bottom: 220px;
    background-color: rgb(255, 255, 255,0.7);
    margin-top:100px;

}
.carousel-caption h5 {
	font-size: 2.2rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
    color:rgb(0, 0, 0);
    font-weight:bold;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 1.5rem;
	line-height: 1.9;
    color:rgb(0, 0, 0);
    font-weight:bold;
 
    margin-top:30px;
}
.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	background: #00274C;
	padding: 10px 30px;
	display: inline-block;
	color: #FFCB05;
	margin-top: 30px;
}
nav{
	position: fixed;
}
.navbar-nav a {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;

}
.navbar-light .navbar-brand {
	color: #000000;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000000;
}
.navbar-light .navbar-nav .nav-link {
	color: #ffffff;
	
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #ffffff;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #ffffff;
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
		background: rgba(0, 0, 0, 0.5);
	}
	.carousel-caption {
		bottom: 165px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
}

.card {
	width: 22rem;
	background-color: #000;
	color: #fff;
	border-radius: 20px;
	box-shadow: 0 1px 1px rgba(72, 78, 85, .6);
}
.card img {
	border-radius: 20px 20px 0 0;
}
.card:hover {
	background-color: #fff;
	color: #000;
	box-shadow: 0 20px 40px rgba(72, 78, 85, .6);
	transform: translateY(-15px);
}